@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";
@import "../helpers/placeholder.scss";

.header {
  background-color: $fColor;
  color: $white;

  &--container {

    &--before {
      border-bottom: 1px solid $white;
      padding: 0.625rem 0;
      @extend %flex-space-between;

      &--email {
        display: none;

        @media screen and (min-width: $breakpoint-xl) {
          display: block;
        }

        a{
          height: 1.5rem;
          display: flex;
          align-items: center;
          @extend %menu-item-link-color;
        }
      }

      &--contact {
        display: none;

        @media screen and (min-width: $breakpoint-xl) {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          column-gap: 1.25rem;
        }

        a {
          @extend %menu-item-link-color;
        }
      }

      &--social-medias {
        column-gap: 1.25rem;
        @extend %flex-row;

        .top-icon {
          img {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: contain;
          }
        }
      }

      &--open-menu-mobile {
        @media screen and (min-width: $breakpoint-xl) {
          display: none;
        }

        .bg-menu-mobile {
          background: url(../../dist/icons/menu-icon.svg);
          width: 2.0625rem;
          height: 1.3125rem;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          overflow: hidden;
          padding-left: 1.5rem;
          text-indent: -624.9375rem;
          border: none;
        }
      }
    }

    &--after {
      row-gap: 0.625rem;
      margin-top: 0.625rem;
      padding-bottom: 1.25rem;
      justify-content: center;
      display: flex;/*Dont use placeholder here*/
      align-items: center; 
      flex-direction: column;
      
      @media screen and (min-width: $breakpoint-xl) {
        justify-content: space-between;
        flex-direction: row;
        padding-bottom: 0.625rem;
      }

      &--email {
        font-size: 14px;

        @media screen and (min-width: $breakpoint-xl) {
          display: none;
        }
      }

      &--contact {
        column-gap: 1.25rem;
        font-size: 0.875rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media screen and (min-width: $breakpoint-xl) {
          display: none;
        }
      }

      &--branding {
        display: flex;
        justify-content: center;
        
        a.custom-logo-link{
          @extend %branding-custom-logo-link;
        }
      }

      &--navbar{
        .menu-items{
          a{
            text-transform: uppercase;

            &:hover{
              text-decoration: underline;
            }
          }
          
          .main-menu{
            @media screen and (min-width: $breakpoint-xl) {
              display: flex;
              flex-direction: row;
              column-gap: 1.25rem;
            }
          }
        }
      }
    }
  }

  button{
    border: none;
  }

  .bg-close-menu-mobile,
  .menu-items {
    display: none;
  }

  .bg-close-menu-mobile {
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    width: 2.25rem;
    height: 2.25rem;
    text-indent: -624.9375rem;
    background: url("../../dist/icons/close-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .menu-items{
    @media screen and (min-width: $breakpoint-xl) {
      display: flex;
      flex-direction: row;
    }

    &.openned {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      color: $white;
      padding: 1.875rem;

      .main-menu {
        display: flex;
        flex-direction: column;
        row-gap: 1.25rem;
      }

      .bg-close-menu-mobile {
        display: block;
      }
    }
  }
}
