@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";
@import "../helpers/placeholder.scss";

.heading-titles{
    padding-top: 2.5rem;
    @media screen and (min-width: $breakpoint-xl) {
        padding-top: 6.25rem;
    }

    &--container{
        display: grid;
        @include grid-cols-12;

        &--content{
            text-align: center;
            @include col-span-12;

            @media screen and (min-width: $breakpoint-xl) {
                @include col-span-6;
                text-align: left;
            }
            h1,h2,h3,h4,h5{
                font-size: 1.5625rem;
                font-weight: bold;

                @media screen and (min-width: $breakpoint-xl) {
                    font-size: 30px;
                }
            }
        }
    }
}

.home .heading-titles{
    margin-top: 1.25rem;
    padding-top: 0;

    @media screen and (min-width: $breakpoint-xl) {
        margin-top: 3.75rem;
    }
}