@import "../../helpers/variables";
@import "../../helpers/mixins";
@import "../../helpers/placeholder";

.contact-info {
  display: grid;
  margin-top: 2.5rem;
  row-gap: 1.875rem;
  @include grid-cols-1;

  @media screen and (min-width: $breakpoint-xl) {
    column-gap: 2.5rem;
    margin-top: 5rem;
    @include grid-cols-3;
  }

  &--map {
    iframe {
      width: 100%;
      height: 18.75rem;
    }
  }

  &--operation {
    &--infos {
      display: flex;
      flex-direction: column;
      row-gap: 1.25rem;
    }
  }
}
