@import "../../../helpers/variables";
@import "../../../helpers/mixins";
@import "../../../helpers/placeholder";

.about {
  display: grid;
  @include grid-cols-12;
  margin-top: 21.75rem;

  @media screen and (min-width: $breakpoint-xl) {
    margin-top: 28.75rem;
    column-gap: 2.5rem;
  }

  &--image {
    @include col-span-12;

    @media screen and (min-width: $breakpoint-xl) {
      @include col-span-7;
      height: 28.125rem;
    }
  }

  &--content {
    text-align: center;
    padding: 1.25rem 0;
    @include col-span-12;

    @media screen and (min-width: $breakpoint-xl) {
      @include col-span-4;
      text-align: left;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      margin-bottom: 1.25rem;
      font-size: 1.5625rem;
    }

    p {
      line-height: 1.5rem;
    }

    .link {
      width: 100% !important;
      @extend %button-default;
    }
  }
}
